@keyframes anim1 {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes anim2 {
    from {opacity: 1;}
    to {opacity: 0.1;}
}

@keyframes anim3 {
    from {transform: translate(686px, 17.98px);}
    to {transform: translate(700px, 17.98px);}
}

@keyframes anim4 {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes anim5 {
    from {opacity: .6;}
    to {opacity: .2;}
}

@keyframes anim6 {
    from {transform: translateX(0);}
    to {transform: translateX(15px);}
}

@keyframes anim7 {
    from {transform: translateX(690px) translateY(201.98px);}
    to {transform: translateX(705px) translateY(201.98px);}
}

@keyframes anim8 {
    from {transform: translateX(630px);}
    to {transform: translateX(615px);}
}

@keyframes anim9 {
    from {transform: translateX(0);}
    to {transform: translateX(200px);}
}

@keyframes anim10 {
    from {opacity: .7;}
    to {opacity:.1;}
}

@keyframes anim11 {
    from {opacity: 0}
    to {opacity: .5;}
}

@keyframes anim12 {
    from {transform: translateX(0);}
    to {transform: translateX(-10px);}
}

@keyframes anim13 {
    from {transform: translateX(0);}
    to {transform: translateX(-10px);}
}

@keyframes anim14 {
    from {transform: translateX(-10px);}
    to {transform: translateX(10px);}
}
